  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Nossas redes</h3>
              <div class="social-links mt-3">
                <a href="#" ><i class="bi bi-twitter-x"></i></a>
                <a href="#" ><i class="bi bi-facebook"></i></a>
                <a href="#" ><i class="bi bi-instagram"></i></a>
                <a href="#" ><i class="bi bi-linkedin"></i></a>
                <a href="#" ><i class="bi bi-whatsapp"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Precisa de um Advogado Especialista em Direito Previdenciário?</h4>
            <p>Não perca tempo e dinheiro! Consulte um advogado previdenciário e receba orientação precisa sobre seus direitos</p>
            <a href="{{whatsapp}}" class="btn btn-lg btn-success" target="_blank">Falar com o Advogado</a>
          </div>

          <div class="col-lg-4 col-md-4 image">
            <img src="https://advogar.site/logos/logo-generica.png/32">
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Agostinho Lima Advocacia previdenciária</span></strong>. All Rights Reserved
      </div>
    </div>

  </footer><!-- End Footer -->


