@import "../../../styles/variables.scss";
/*--------------------------------------------------------------
# secao-atuacao
--------------------------------------------------------------*/
section {
  padding: 2.0rem 0;
  overflow: hidden;
}
.secao-atuacao .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #151515;
}

.secao-atuacao .content p {
  margin-bottom: 0;
}

.secao-atuacao .content .count-box {
  padding: 10px 0;
  width: 100%;
}

.secao-atuacao .content .count-box i {
  display: block;
  font-size: 25px;
  color: $primary-color;
  float: left;
}

.secao-atuacao .content .count-box span {
  line-height: 30px;
  display: block;
  font-weight: 700;
  margin-left: 50px;
}

.secao-atuacao .content .count-box p {
  padding: 10px 0 0 0;
  margin: 0 0 0 35px;
  font-size: 15px;
  color: $secondary-text-color;
}

.secao-atuacao .image {
  padding-top: 2.0rem;
  background-size: cover;
  min-height: 15.0rem;
}

@media (max-width: 991px) {
  .secao-atuacao .image {
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }

  .secao-atuacao .image img {
    max-width: 100%;
  }
}

@media (max-width: 667px) {
  .secao-atuacao .image img {
    max-width: 90%;
  }
}

img {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
  border-radius: 5px;
  max-width: 90%;
  height: auto;
}

.row{
  margin: 0;
  padding: 0;
}