<div class="section-title">
  <h2>Sobre</h2>
  <p>Advogado</p>
</div>

<div *ngIf="inforPagina as inforPagina" class="container">
  <img
    src="assets/img/fotoAdv.png"
    alt="adv" />
  <div class="container__text">
    <div class="texto-pc">
      <h1 class="section-title">Dr. {{inforPagina.nome}}</h1>
      <p>{{inforPagina.resumoProfissional}}</p>
    </div>
    <button class="btn btnMaisInfor"><i class="bi bi-person-vcard-fill"></i>OAB MA: {{inforPagina.oab}}</button>
  </div>

</div>

<div *ngIf="inforPagina as inforPagina" class="texto-mobile responseMobile">
  <h1 class="section-title">Dr. {{inforPagina.nome}}</h1>
  <p>{{inforPagina.resumoProfissional}}</p>
</div>
