<div class="section-title">
  <h2>Advogado Especialista</h2>
  <p>Quem é?</p>
</div>

<div class="container">
  <img
   src="https://images.pexels.com/photos/5668774/pexels-photo-5668774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
   alt="adv"
  />
  <div class="container__text">
    <div class="texto-pc">
      <h1 class="section-title texto-pc">Agostinho Lima</h1>
      <p>
        If you're fan of caramel cake, then you'll love our Caramel Cake Pancakes.
        We Complete these over-the-top pancakes with Caramel Syrup.
      </p>
    </div>
    <button class="btn"><i class="bi bi-person-vcard-fill"></i>OAB: 000000</button>
  </div>

 </div>

 <div class="texto-mobile responseMobile">
  <h1 class="section-title">Agostinho Lima</h1>
  <p>
    If you're fan of caramel cake, then you'll love our Caramel Cake Pancakes.
    We Complete these over-the-top pancakes with Caramel Syrup.
  </p>
</div>
