  <!-- ======= Seção area atuações ======= -->
  <section *ngIf="meusDadosApi$ | async as meusDadosApi" id="atuacao" class="area">
    <div class="container py-4" data-aos="fade-up">

      <div class="section-title">
        <h2>Áreas de atuação</h2>
        <p>Confira nossas áreas de atuação</p>
      </div>
      @for (meusDados of meusDadosApi.items; track $index) {
      <article class="postcard light blue">
        <div class="postcard__text t-dark">
          <div class="count-box">
            <i class="fa fa-balance-scale"></i>

              <h1 class="postcard__title blue"><a>{{meusDados.fields.nomeDaAreaDeAtuacao}}</a></h1>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">{{meusDados.fields.descricaoDaAreaDeAtuacao}}</div>
          <ul *ngFor="let item of meusDados.fields.listaDeServicos" class="list-bullets">
            <li class="mb-2">{{item}}</li>
          </ul>
        </div>
      </article>
    }
    </div>
  </section>
  <!-- Fim Seção area atuações -->


